{% extends "base.html"%}
{% load static %}

{% block css_imports %}
<script data-ad-client="ca-pub-5234591008009724" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link href="{% static 'challenge/challenge.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container page-container">
    <div class="row">
        <div class="header col-md-12">
            <div class="header-items">
		{% if not user.is_authenticated %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  You are not currently signed in. Consider signing in or making an account to avoid repeat challenges and track your progress.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
 			 </button>
			</div>
		{% endif %}
		<h2 id="challenge_title">{{challenge.time_label_full}} Forecasting Challenge: {{challenge.stock_name}} : {{challenge.window_date|date:"M d, Y" }}</h2>
            </div>
        </div>
        <div class="main-section">
            <ul class="nav nav-tabs justify-content-center content-tabs" id="sections" role="tablist">
                {% for section in sections %}
                    <li class="nav-item">
                        <a class="nav-link section-link" id="{{section|cut:' '}}" data-toggle="tab" href="#{{section|cut:' '}}-content" role="tab" aria-controls="{{section|cut:' '}}-content" {%if forloop.counter == 1%} aria-selected="true"{% else %}aria-selected="false" {% endif %}>{{section}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for section in sections %}
                    {% if section == 'About' %}
                        <div class="tab-pane show active" id="{{section|cut:' '}}-content" role="tabpanel"  aria-labelledby="{{section|cut:' '}}">
                            <p class="about-label">Stock Ticker:</p>
                            <p class="ticker">{{challenge.stock_ticker}}</h2>
                            <p class="about-label">Modern Stock Description:</p>
                            <p class="description">{{challenge.stock_description}}</p>
                            <p class="about-label">Stock Sector:</p>
                            <p class="description">{{challenge.stock_sector}}</p>
                            <p class="about-label">Stock Industry:</p>
                            <p class="description">{{challenge.stock_industry}}</p>
                        </div>
                    {% elif section == 'Historic Data' %}
                        <div class="tab-pane" id="{{section|cut:' '}}-content" role="tabpanel" aria-labelledby="{{section|cut:' '}}">
                            <div class="chart-section">
                                <canvas id="chart" width="1600" height="900"></canvas>
                            </div><br><br>
                            <div id="historic_data_table_section">
                            </div>                            
                        </div>
                    {% elif section == 'Financial Statements' %}
                        <div class="tab-pane" id="{{section|cut:' '}}-content" role="tabpanel" aria-labelledby="{{section|cut:' '}}">
                            <h2 class="financial-title">Most Recent Financial Statements For {{challenge.window_date|date:"M d, Y" }}</h2> 
                            {% if challenge.statement_8k|length > 0 %} 
                                <br><h2 class="document-title">8-K</h2>
				<p class="document-help"><a href="https://www.sec.gov/fast-answers/answersform8khtm.html" target="_blank">What is this?</a></p>
                                <iframe src="../../files/{{challenge.id}}/8k.html" seamless class="document-holder"></iframe>
                                <br><a href="../../files/{{challenge.id}}/8k.html" class="btn btn-primary download-btn fixed-btn" download >Download This File</a>
                            {% endif %}
                            {% if challenge.statement_10k|length > 0 %} 
			    <br><h2 class="document-title">10-K</h2>
				<p class="document-help"><a href="https://www.sec.gov/fast-answers/answers-form10khtm.html" target="_blank">What is this?</a></p>
                                <iframe src="../../files/{{challenge.pk}}/10k.html" seamless class="document-holder"></iframe>
                                <br><a href="../../files/{{challenge.pk}}/10k.html" class="btn btn-primary download-btn fixed-btn" download >Download This File</a>
                            {% endif %}
                            {% if challenge.statement_10q|length > 0  %} 
			    <br><h2 class="document-title">10-Q</h2> 
				<p class="document-help"><a href="https://www.sec.gov/fast-answers/answersform10qhtm.html" target="_blank">What is this?</a></p>
                                <iframe src="../../files/{{challenge.pk}}/10q.html" seamless class="document-holder"></iframe>
                                <br><a href="../../files/{{challenge.pk}}/10q.html" class="btn btn-primary download-btn fixed-btn" download >Download This File</a>
                            {% endif %}
                            {% if challenge.statement_13_g|length > 0 %} 
                                <br><h2 class="document-title">13-G</h2>
				<p class="document-help"><a href="https://www.sec.gov/fast-answers/answerssched13htm.html" target="_blank">What is this?</a></p>
                                <iframe src="../../files/{{challenge.pk}}/13g.html" seamless class="document-holder"></iframe>
                                <br><a href="../../files/{{challenge.pk}}/13g.html" class="btn btn-primary download-btn fixed-btn" download >Download This File</a>
                            {% endif %}
                                {% if challenge.statement_13f_hr|length > 0 %} 
                                <br><h2 class="document-title">13F-HR</h2>
				<p class="document-help"><a href="https://www.sec.gov/fast-answers/answers-form13fhtm.html" target="_blank">What is this?</a></p>
                                <iframe src="../../files/{{challenge.pk}}/13fhr.html" seamless class="document-holder"></iframe>
                                <br><a href="../../files/{{challenge.pk}}/13fhr.html" class="btn btn-primary download-btn fixed-btn" download >Download This File</a>
                            {% endif %}
                             {% if challenge.statement_sd|length > 0 %} 
                                <br><h2 class="document-title">SD</h2>
				<p class="document-help"><a href="https://www.sec.gov/about/forms/formsd.html" target="_blank">What is this?</a></p>
                                <iframe src="../../files/{{challenge.pk}}/sd.html" seamless class="document-holder"></iframe>
                                <br><a href="../../files/{{challenge.pk}}/sd.html" class="btn btn-primary download-btn fixed-btn" download >Download This File</a>
                            {% endif %}
                       </div>
                    {% elif section == 'Technicals' %}
                        <div class="tab-pane" id="{{section|cut:' '}}-content" role="tabpanel" aria-labelledby="{{section|cut:' '}}">
                            <div class="row">
                                <div class="col-md-6" id="col_1">
                                </div>
                                <div class="col-md-6" id="col_2">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 result-section">
            <div class="result-buttons">
                <button class="btn decision-btn  btn-success up-btn" onclick="guessSecurity(1)">Stock Will Go Up &uarr;</button>
                <button class="btn decision-btn btn-lg btn-danger down-btn" onclick="guessSecurity(0)">Stock Will Go Down &darr;</button>
            </div>
            <div class="additional_buttons">
		    {% if user.is_authenticated %}
		    	<a id="go_back_button" href="/dashboard" class="btn btn-primary go-back-button">Go To Dashboard &larr;</a>
		    {% endif %}
                <a id="skip_button" href="/challenge/{{challenge_type}}/next_challenge" class="btn btn-primary skip-button">Skip Challenge &rarr;</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.js" integrity="sha256-iAuxnf8Cwr0yrQkpf6oQG4PaL/oVmoer6V/RfX2KQws=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    function generateHistoricDataTable(results){
        var table = "<table class='table table-striped  historic-table'>";
        var data = results.data;
        
        table += '<tr><td colspan="10" class="header-row table-primary"><span id="table_toggle">Historic Data Table &rarr;</span></td></tr>'
        for(i=0;i<data.length;i++){
            if (i === 0) {
                table += '<tr class="table-row first-row">';
            } else {
                table+= '<tr class="table-row">';
            }
            var row = data[i];
            var cells = row.join(",").split(",");
             
            for(j=0;j<cells.length;j++){
                table+= "<td>";
                table+= cells[j];
                table+= "</th>";
            }
            if (i === 0) {
                table += "</tr>";
            } else {
                table+= "</tr>";
            }
        }
        table+= "</table>";
        table += '<button id="download_historic_data" class="btn btn-primary download-btn">Download This Table</button>'
        $("#historic_data_table_section").html(table);
    };

    function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }

    function sma(data, period) {
        var last_n = data.slice(-1 * period);
        var sum = (last_n.reduce((a, b) => parseFloat(a) + parseFloat(b), 0));
        return sum / period;
    }

    // adapted from https://github.com/ItsNickBarry/exponential-moving-average/blob/patch-1/index.js
    function avg(arr) {
          var len = arr.length, i = -1;
          var num = 0;
          while (++i < len) num += Number(arr[i]);
          return num / len;
    }

    function smooth(n) {
          return 2 / (n + 1);
    }

    function ema(data, period) {
        var c = smooth(period);
        var num = avg(data.slice(0, period));
        var acc = [num];
        for (var i = period; i < data.length; i++) {
                num = (c * Number(data[i])) + ((1 - c) * num);
                acc.push(num);
              
        }
        return acc.slice(-1);
    }

    function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else { 
            window.location.href = url; 
        }
    }

    function showPopup(error, success) {
        var message = "There was error submitting your guess";
        var result_msg = "{{challenge.stock_ticker}} changed {{challenge.result_amount_percent}} in {{challenge.time_label_full}}";
        if (!error) {
            if (success) {
                message = "Nice Job! You guessed correctly! " + result_msg;
            } else {
                message = "You guessed incorrectly. " + result_msg;
            }
        }
	$('.down-btn').prop('disabled', true);
	$('.up-btn').prop('disabled', true);
	$('#skip_button').html("Next Challenge &rarr;");
        vex.dialog.confirm({
            message: message,
            callback: function (value) {
                if (value) {
                    redirect("/challenge/{{challenge_type}}/next_challenge");
                } else {}
            },
            buttons: [
                $.extend({}, vex.dialog.buttons.YES, { text: 'Go To Next Challenge'  }),
                $.extend({}, vex.dialog.buttons.NO, { text: 'Stay Here'  })
            ],
        }); 
    }

    function guessSecurity(guess) {
        var data_to_send = {};
        data_to_send.guess = guess;
        data_to_send.csrfmiddlewaretoken  = "{{csrf_token}}";
        $.ajax({
            type: "POST",
            url: "/challenge/{{request.resolver_match.kwargs.pk}}/",
            data: data_to_send,
            success: function(data) {
                if (data.success === false) {
                    showPopup(true, false);     
                } else {
                    if (data.correct === true) {
                        showPopup(false, true);     
                    }  else {
                        showPopup(false, false);     
                    }
                }
            },
            error: function(data) {
                showPopup(true, false);     
            }
            
        }); 
    }

    $( document ).ready(function() {
        vex.defaultOptions.className = 'vex-theme-os';
        var stock_ticker = "{{ challenge.stock_ticker | safe }}";
        var sections = {{sections | safe}};
        sections = sections.map(el => el.replace(/\s/g, ''));
        $("#" + sections[0]).addClass("active");

        csv_string = `{{ challenge.historic_data | safe }}`;
        var results = Papa.parse(csv_string);
        generateHistoricDataTable(results);
        $('.table-row').hide();
        $("#table_toggle").click(function() {
            var new_text = $("#table_toggle").html() === "Historic Data Table ↓"  ? "&rarr;"  : "&darr;"; 
            $("#table_toggle").html("Historic Data Table " + new_text);
            if (new_text === "&rarr;") {
                $('.table-row').hide();
            } else {
                $('.table-row').show();
            }
        });
        $("#download_historic_data").click(function() {
            download("historic_data.csv", csv_string);
        });

        var date = [];
        var close = [];
        for (var i = 1; i < results.data.length; i++) {
            if (results.data[i].length > 4) {
                date.push(results.data[i][0]);
                close.push(results.data[i][4]);
            }
        }
        var ctx = document.getElementById("chart");
        var chart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: date,
            datasets: [
              { 
                data: close,
                label: "Price",
                fill: false,
                backgroundColor: "#357DED",
                pointHoverBorderColor: "#EF8354",
                pointHoverBackgroundColor: "#EF8354"
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: stock_ticker + ' Historic Price',
              fontSize: 30
            },
            legend: {
                labels: {
                    fontSize: 20
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontSize: 22
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontSize: 19,
                        maxTicksLimit: 20
                    }
                }]
            }
          }
        });
        var periods = [5, 10, 20, 50, 100];
        for (var i = 0; i < periods.length; i++) {
            var period = periods[i];
            if (close.length + 1 > period) {
                var s = sma(close, period).toFixed(2);
                var e = ema(close, period)[0].toFixed(2);
                var base_html = '<p class="technical-label">LABEL_HERE: <span class="technical-value">VALUE_HERE</span></p>';
                var sma_html = base_html.replace("LABEL_HERE", "Simple Moving Average (" + period.toString() + ")").replace("VALUE_HERE", s.toString());
                var ema_html = base_html.replace("LABEL_HERE", "Exponential Moving Average (" + period.toString() + ")").replace("VALUE_HERE", e.toString());
                $("#col_1").append(sma_html);
                $("#col_2").append(ema_html);
            }
        }
    });
</script>
{% endblock %}
