body {
    background: #F7F8FC;
    overflow-x: hidden;
}

.page-container {
    max-width: 85vw;
}

.header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-items {
    margin-top: 3vh;
}

#challenge_title {
    border-bottom: 3px solid #357DED;
    max-width: 70vw;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}



.main-section {
}

.result-section {
    margin-top: 2vh;
}

.result-buttons {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.main-section {
     margin-left: auto;
    margin-right: auto;
}


.content-tabs {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1vh;
}


.tab-content {
    padding: 1.4em;
    background: #EDF0FC;
    font-size: 1.3em;
    min-width: 80vw; 
}

.section-link {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

.section-link.active {
    background: #F7F8FC !important; 
    border-bottom: 1px solid #EF8354 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    color: #EF8354 !important;
}



.about-label {
    font-weight: bold;
    font-size: 1.3em;
}

.ticker {
    font-size: 1.2em;
}

.description {
    font-size: 1,1em;
}

.additional_buttons {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 2vh;
}

.skip-button {
    margin-top: 5vh;
    background-color: #357DED;
    border-color: #357DED;
}

.go-back-button {
    margin-top: 5vh;
    background-color: #357DED;
    border-color: #357DED;
}

.decision-btn {
    padding: .7em .9em;
    font-size: 1.6em;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.up-btn {
    background: #6CC551;
    border-color: #6CC551;
}

.down-btn {
    background: #DB2B39;
    border-color: #DB2B39;
}

.historic-table {
    margin-left: auto;
    margin-right: auto;
}


.first-row {
    font-weight: bold;
}

tr.first-row td {
    border-bottom: thin solid !important;
}

.header-row {
    text-align: center;
}

#table_toggle {
    cursor: pointer;
}

.download-btn {
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #357DED;
}

.fixed-btn {
    max-width: 20vw;
}

.document-holder {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 85vh;
    resize: both;
    border: 1px solid #000;
}

.document-help {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.document-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.financial-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.technical-label {

}

.technical-value {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .page-container {
        max-width: 95vw;
    }

    .challenge_title {
        max-width: 90vw;
    }

    .document-holder {
        min-height: 95vh;
    }

    .fixed-btn {
        max-width: 50vw;
    }
}
