{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'users/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<center>
<div class="form-body">
    <form class="site-form" method="post">
      {% csrf_token %}
      <h1 class="form-title">SIGN IN</h1>
    {% if message|length > 0 %}
        {% if message_color == 'red' %}
          <div class="alert alert-warning" role="alert">
            {{ message }}
          </div>
        {% else %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        {% endif %}
      {% endif %}
      <label class="form-label" for="email">Email Address</label>
      <input type="email" id="email" name="email" class="form-control form-field" placeholder="Email Address" required autofocus><br />
      <label  class="form-label" for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control form-field" placeholder="Password" required><br />
      <br /><br />
      <button class="btn btn-lg btn-primary btn-block form-block form-field form-button" type="submit">Sign In</button><br />
      <p class="form-label">Don't have an account? <a class="alt" href="/signup">Create one</a></p>
      <p class="form-label">Forgot your password? <a class="alt" href="/password/password_reset">Reset It</a></p>
    </form>
</div>
</center>
{% endblock %}
